*{
    box-sizing: border-box;
margin: 0;
padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    background-color:lightblue;
}
h1{
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 1px solid black;
    padding: 20px;
    height: 500px;
    border-radius: 16px;
    background-color:white;
}
.head{
    color: blue;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    font: normal normal bold 24px/37px Roboto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 20px;
    align-items:center;

}
.flex-outer{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    min-height: 45px;
}
label,input{
    font-size: 14px;
}
.content,label{
    flex-direction:row-reverse;
}
label{
    font-weight: bold;
    width: 30%;
}
input{
    flex: auto;
    line-height: 1.5;
    border: 2px solid black;
    border-radius: 4px;
}
input:hover{
    border: 2px solid red;
}
.button{
    display:flex;
    justify-content: center;
    padding-top: 10px; 
    font-size: 10px;
    
    
    
}
.button input{
    padding: 8px;
    border-radius: 6px;
}
.flex-inner{
    flex-direction:column;
}
error-output {
    margin-left: 12px;
    font-size: 17px;
    font-style: italic;
    color: red;
    font-weight: bolder;

  }

